@page "/dashboard"

<div Class="d-flex align-center justify-center flex-wrap mt-4">

    <MudGrid Class="d-flex align-center justify-center mud-width-full py-8" Spacing="2">

        @*        <MudItem xs="6" sm="3">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8"><Label /></MudPaper>
        </MudItem>*@

        <MudItem xs="6" sm="3">
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8"><SquadBadge /></MudPaper>
        </MudItem>
        <MudItem xs="6" sm="3">
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8"><SquadBadge /></MudPaper>
        </MudItem>
        <MudItem xs="6" sm="3">
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8"><SquadBadge /></MudPaper>
        </MudItem>

    </MudGrid>

    <MudGrid Class="d-flex align-center justify-center mud-width-full py-8" Spacing="2">

        <MudItem xs="6" sm="3">
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8"><SquadCard /></MudPaper>
        </MudItem>

        <MudItem xs="6" sm="3">
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8"><SquadCard /></MudPaper>
        </MudItem>
        <MudItem xs="6" sm="3">
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8"><SquadCard /></MudPaper>
        </MudItem>

    </MudGrid>
    <MudGrid Class="d-flex align-center justify-center mud-width-full py-8" Spacing="2">
        <MudItem xs="6">
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">   <BarChart /></MudPaper>
        </MudItem>
        <MudItem xs="6">
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">   <BarChart /></MudPaper>
        </MudItem>
    </MudGrid>

</div>

