@page "/activate"
@using Squads.Client.Activations.Components;

<div class="ma-4 pa-4" MaxWidth="MaxWidth.ExtraLarge">
    <TitleBar title="Account activeren">
    </TitleBar>

    <ActivateForm Token="@Token"></ActivateForm>
</div>